h1 
{
  font-weight: 100; 
  font-size: 2.5em;
}
    
#content { 
 width: 550px; 
 margin: 0 auto; 
 margin-top: 100px; 
 border: 1px dashed black;       
 text-align: center; 
 font-family: 'Helvetica Neue', arial; 
 font-weight: 100;
 background-color:whitesmoke;
}


p#answer {
  padding: 23px;
  color: black;
  letter-spacing: 2px;
  font-size:18px;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size:22px;
}

#info {
  font-size: 22px;
}

.quotes-left
{
  padding: 100px;
}

.quotes-right
{
  padding:100px;
  padding-left: 900px;
}


    /* ============ navbar ===============*/

    .flex-container 
    {
        display: flex;
        flex-direction: row-reverse;
    }
    .right { 
        float: left; 
         
        padding: auto; 
        padding-top: auto;
        padding-left: auto; 
    } 

    .spacer
    {
        width: 800px;
    }

    .flex-container > div 
    {
        margin: 5px;
        padding-top: 10px;
        padding-right: 15px;
        font-size: 20px;
        color: black;
    }

    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
 
    a:link {
        color: Black; 
        background-color: transparent; 
        text-decoration: none!important;
      }

     a:visited {
        color: Black;
        text-decoration: none!important;
        background-color: transparent;
      }
     
      a:hover 
      {
        color: Black;
        text-decoration: none!important;
      }
      
      a:active {
        color: Black;
        background-color: transparent;
        text-decoration: none!important;
      }
      
      .btn{
        background-color: blue;
        
      }

